@charset "utf-8";

@use "bulma/sass/utilities" with (  
  $family-primary: '"Poppins", sans-serif',
  $family-secondary: '"Nunito", sans-serif',
  
  // MUST BE HSL to work with the color scheme
  $primary: hsl(210, 85%, 21%),
  $link: hsl(37, 100%, 52%),
);

@forward "bulma/sass";

// @forward "bulma/sass/base";
// @forward "bulma/sass/themes";
// @forward "bulma/sass/elements";
// @forward "bulma/sass/form";
// @forward "bulma/sass/components";
// @forward "bulma/sass/grid";
// @forward "bulma/sass/layout";
// @forward "bulma/sass/helpers";

// Import the Google Font
// @import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700");

