
@use "bulma/sass/utilities/mixins" as bulma-mixins;

.shpr-lazy-background {
    position: relative;
    
    .shpr-background {
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
        background-size: cover;
        background-attachment: fixed;
        background-position: 50% 50%;
        transition: opacity 0.5s ease-out;

        opacity: 0;
    }

    .shpr-background-paralax {
        width: 100%; 
        height: 250px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 0; bottom: 0; left: 0; right: 0;
            z-index: 1;
            background:url(
                data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAF0lEQVQYV2NkQAKMUPZ/BgYGRhgHLAYAEnEBBJU1VYUAAAAASUVORK5CYII=
            ) repeat fixed;
        }

        @include bulma-mixins.mobile {
            display: none;
        }
    }

    .shpr-background-video {

        &::after {
            content: '';
            position: absolute;
            top: 0; bottom: 0; left: 0; right: 0;
            background: rgb(2,0,36);
            background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 46%, rgba(0,0,0,0) 80%, rgba(0,0,0,1) 100%);
        }

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &.is-loaded {
        .shpr-background {
            opacity: 1;
        }

        .shpr-section.section, .shpr-section.hero {
            background: hsl(
                var(--bulma-hero-h), 
                var(--bulma-hero-s), 
                var(--bulma-hero-background-l)
            );

            &.with-semi-transparent-overlay {
                background: hsla(
                    var(--bulma-hero-h), 
                    var(--bulma-hero-s), 
                    var(--bulma-hero-background-l), 
                    0.65
                );
            }
        
            &.with-transparent-overlay {
                background: hsla(
                    var(--bulma-hero-h), 
                    var(--bulma-hero-s), 
                    var(--bulma-hero-background-l), 
                    0
                );
            }

            &.with-boxed-section-body {
                .title, .subtitle, .content, .button {
                    background: hsl(
                        var(--bulma-hero-h), 
                        var(--bulma-hero-s), 
                        var(--bulma-hero-background-l)
                    );
                    padding: 20px;
                }
            }
        }
    }

    &.is-header {
        .shpr-background-overlay {
            z-index: 0;
        }
    }
}