
@use "bulma/sass/utilities/mixins" as bulma-mixins;

@mixin shpr-bck-image {
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;

    transition: opacity 0.5s ease-out;

    opacity: 0;
}

.shpr-lazy-background {
    position: relative;
    
    .shpr-background {
        @include shpr-bck-image();
    }

    .shpr-background-paralax {
        width: 100%; height: 250px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            top: 0; bottom: 0; left: 0; right: 0;
            background:url(
                data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAF0lEQVQYV2NkQAKMUPZ/BgYGRhgHLAYAEnEBBJU1VYUAAAAASUVORK5CYII=
            ) repeat fixed;
        }

        @include bulma-mixins.mobile {
            display: none;
        }
    }

    .shpr-background-overlay {
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
    }


    &.is-loaded {
        .shpr-background {
            opacity: 1;
        }

        .shpr-section.section {
            background: var(--bulma-background);
        }

        .shpr-section.hero.with-semi-transparent-overlay {
            background: hsla(
                var(--bulma-hero-h), 
                var(--bulma-hero-s), 
                var(--bulma-hero-background-l), 
                0.85
            );
        }

        .shpr-section.hero.with-transparent-overlay {
            background: hsla(
                var(--bulma-hero-h), 
                var(--bulma-hero-s), 
                var(--bulma-hero-background-l), 
                0
            );
        }
    }

    &.is-header {
        .shpr-background-overlay {
            z-index: 0;
        }
    }
}