@charset "utf-8";

@use "bulma" as bulma;
@use "bulma/sass/utilities/derived-variables" as dv;

.block:not(:last-child) {
  margin-bottom: 1.5rem;
}

.no-link-color {
  a {
    color: inherit;
  }
}

.is-no-border {
  border: none;
}

// new size for icon
.icon {
  &.is-ultra-large {
    width: 5rem;
    height: 5rem;
  }
}

.shpr-icon {
  border: 1px solid dv.$light;
  margin-right: 0.5rem;

  &.is-multiline {
    margin-bottom: 0.5rem;
  }
}

.slider {
  overflow: hidden;
}

.field.shpr-search {
  .field-label {
    flex-grow: 0;
  }
}

.imageholder {
  display: block;
  
  .img {
    display: block;
  }
}

.price {
  white-space: nowrap;
  font-weight: 400;
}

.without-pointer-events {
  pointer-events: none;
}

.edit-record-bar {
  position: fixed;
  bottom: 0; right: 0; left: 0;
  z-index: 10;
}

.feed-profile-card {
  position: sticky;
  top: var(--bulma-navbar-height);
}