@charset "utf-8";

@use "bulma" as bulma;
@use "bulma/sass/utilities/derived-variables" as dv;
@use "mixins";

@forward "bulma-carousel/src/sass/index.sass";
@forward "sections";
@forward "lazy";
@forward "lazy-background";
@forward "overlays";
@forward "has-image-centered";

.block:not(:last-child) {
  margin-bottom: 1.5rem;
}

.no-link-color {
  a {
    color: inherit;
  }
}

.is-no-border {
  border: none;
}

// new size for icon
.icon {
  &.is-ultra-large {
    width: 5rem;
    height: 5rem;
  }
}

.shpr-icon {
  border: 1px solid dv.$light;
  margin-right: 0.5rem;

  &.is-multiline {
    margin-bottom: 0.5rem;
  }
}

.slider {
  overflow: hidden;
}

.field.shpr-search {
  .field-label {
    flex-grow: 0;
  }
}

.imageholder {
  display: block;
  
  .img {
    display: block;
  }
}

.price {
  white-space: nowrap;
  font-weight: 400;
}

.without-pointer-events {
  pointer-events: none;
}

.edit-record-bar {
  position: fixed;
  bottom: 0; right: 0; left: 0;
  z-index: 10;
}

.feed-profile-card {
  position: sticky;
  top: var(--bulma-navbar-height);
}

.shpr-footer-block {
  overflow: hidden;
  .logo {
      @include mixins.logo(300px, "logo01.svg");
      background-position-x: right;
      align-self: center;
      color: transparentize($color: dv.$light, $amount: 1);
  }

  .social-menu {
      --bulma-link-text: var(--bulma-text-strong);
  }
}

/**
 * Styles for 'responsive video embeds'
 */
.responsive-video, .embed-responsive {
  height: 0;
  padding-top: 25px;
  padding-bottom: 67.5%;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;

  &.vimeo {
    padding-top: 0;
  }

  &.widescreen {
    padding-bottom: 57.25%;
  }

  embed,
  iframe,
  object,
  video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  @media (max-width: 767px) {
    padding-top: 0;
  }
}

.section, .hero {

  --bulma-title-color: var(--bulma-text-strong) !important;
  --bulma-title-strong-color: var(--bulma-text-strong) !important;

  .title, .subtitle  {
    color: var(--bulma-text-strong); 
  }
  
  .content {
      color: var(--bulma-text-strong);
  }
}

.navbar {
  .navbar-item, .navbar-link {
    color: var(--bulma-text-strong)
  }
}