@use "bulma/sass/utilities/mixins";
@use "bulma/sass/utilities/extends";

.shpr-section {

    position: relative;
    
    .shpr-section-anchor {
        position: absolute;
        top: calc(var(--bulma-navbar-height) * -1);
    }

    &.is-primary::before {
        background-color: var(--bulma-primary-rgb)
    }

    .shpr-actions {
        padding: 4rem 0rem 1rem 0rem;
    }
}
