// https://bulma.io/documentation/customize/variables/

$title-line-height: 1.5;
$dimensions: 16 24 32 48 64 96 128 256 512;
$fullhd: 1152px;
$family-primary: 'Montserrat', sans-serif;
$family-secondary: 'Libre Baskerville', serif;

$primary: #0b4383;
$light: #F0F0F0;
$text: #101010;
$text-light: #0b4383;
$link: $primary;

$title-weight: 700;
$weight-normal: 300;
$weight-light: 200;
$body-font-size: 1.2em;

// Custom variables
$title-color: $text;