// https://bulma.io/documentation/customize/variables/

$title-line-height: 1.5;
$dimensions: 16 24 32 48 64 96 128 256 512;
$fullhd: 1152px;
$family-primary: 'Montserrat', sans-serif;
$family-secondary: 'Libre Baskerville', serif;
$primary: #162951;
$light: #F0F0F0;
$text: #162951;
$text-light: #162951;
$title-weight: 700;
$weight-normal: 300;
$weight-light: 200;
$body-font-size: 1.2em;
