@charset "utf-8";

// minimal css
@import "./bulma.scss";
@import "./functions.scss";
@import "./has-image-centered.scss";
@import "./overlays.scss";
@import "./lazy.scss";
@import "./lazy-background.scss";

@import "../components/navbar.scss";
@import "../components/gallery.scss";

.block:not(:last-child) {
  margin-bottom: 1.5rem;
}

.no-link-color {
  a {
    color: inherit;
  }
}

.is-no-border {
  border: none;
}

.title {
  font-family: $family-secondary;
}

.button,
.button.is-primary,
.button:active,
.button:hover {
  border-color: $white;
  text-transform: uppercase;
}

// new size for icon
.icon {
  &.is-ultra-large {
    width: 5rem;
    height: 5rem;
  }
}

.shpr-icon {
  border: 1px solid $light;
  margin-right: 0.5rem;

  &.is-multiline {
    margin-bottom: 0.5rem;
  }
}

.slider {
  overflow: hidden;
}

.field.shpr-search {
  .field-label {
    flex-grow: 0;
  }
}

.imageholder {
  display: block;
  
  .img {
    display: block;
  }
}

.price {
  white-space: nowrap;
  font-weight: 400;
}

.pricing-table {
  .pricing-plan {
    width: 20%;
    border

    &.is-primary {
      .plan-price .plan-price-amount {
        color: $primary;
      }

      .plan-footer .button {
        background-color: $primary;

        &:active, &:hover {
          background-color: $primary;
        }
      }
    }
  }

  @include tablet-only {
    .pricing-plan {
      width: 30%;
    }
  }

  @include mobile {
    display: block;

    .pricing-plan {
      width: initial;
    }
  }
}

.without-pointer-events {
  pointer-events: none;
}

.edit-record-bar {
  position: fixed;
  bottom: 0; right: 0; left: 0;
  z-index: 10;
}