@charset "utf-8";

@import "../../node_modules/bulma/sass/components/navbar.sass";

.navbar {
  .navbar-link {
    &.is-active,
    &:hover {
      background-color: inherit;
    }
  }

  .navbar-menu {
    background-color: inherit;
    a {
      color: inherit;
    }
  }

  &.is-dark,
  &.is-primary {
    .navbar-menu a {
      color: $light;
    }

    .navbar-link {
      color: $light;
    }
  }

  &.is-dark {
    .navbar-dropdown {
      background-color: $dark
    }
  }
  &.is-primary {
    .navbar-dropdown {
      background-color: $primary
    }
  }

  .navbar-item {
    text-transform: uppercase;
  }

  .shpr-icon {
    padding: .8em;
  }
}


.shpr-brand {
  .navbar-item {
    background-image: image("logo.png");
    background-size: 250px;
    background-repeat: no-repeat;
    height: 39px;
    overflow: hidden;
    margin-left: 0.5rem;
    margin-bottom: 0;
    align-self: center;
  }
}

.hero .shpr-logo {
  width: 250px;
  height: 80px;
  background-image: image("logo.png");
  background-repeat: no-repeat;
  background-position: 0 -75px;
  color: transparent;
}

.shpr-menu {
  margin-bottom: 50px;
  li {
    display: block;
    border-left: 1px solid rgba(0, 0, 0, 0);
    font-family: $family-secondary;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;

    a {
      color: inherit;
      margin-bottom: 20px;
      height: 21px;
    }
  }

}
