// Custom modifiers
$section-colors: 'light', 'primary', 'dark', 'black';
$section-colors-background: $light, $primary, $dark, $black;
$section-colors-text: $text, $text-invert, $text-invert, $primary;
$section-colors-titles: $title-color, $text-invert, $text-invert, $primary;

.shpr-section {

    .content blockquote { 
        color: $dark;
    }

    .shpr-section-anchor {
        position: absolute;
        top: -20px;
    }

    &.is-section-dark,  &.is-section-primary {
        .content strong {
            color: $light;
        }

        .button {
            background-color: transparent;
            color: $light;
        }

        .label {
            color: $light;
        }
    }

    $i: 1;
    @each $color in $section-colors {
        &.is-section-#{$color} {
            &::before {
                content: '';
                background-color: nth($section-colors-background, $i);
                position: absolute;
                top: 0; bottom: 0; left: 0; right: 0;
                z-index: -2;
            }
            position: relative;
            color: nth($section-colors-text, $i);

            .title, .subtitle {
                color: nth($section-colors-titles, $i);
            }
        }
        $i: $i + 1;
    }
}

.shpr-actions {
    padding: 4rem 0rem 1rem 0rem;
}