{# Navbar #}
<nav class="navbar is-fixed-top is-dark" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand shpr-brand">
            <a class="navbar-item" href="/">
                {{ config.get('general/sitename') }}
            </a>
            <span class="navbar-burger burger" data-target="navbar-toggle">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div class="navbar-menu" id="navbar-toggle">
            <div class="navbar-start no-link-color">
                {% spaceless %}
                    {{ menu('main', 'partials/_sub_menu_navbar.twig') }}
                {% endspaceless %}
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                   {{ menu(
                        identifier = 'social',
                        template = 'partials/_sub_menu_social.twig',
                        params = {limit: 2, extraClass: 'is-medium'}
                    ) }}
                </div>
                <div class="navbar-item">
                    {% include "partials/_sub_search_form.twig" %}
                </div>
            </div>
        </div>
    </div>
</nav>
