{# Navbar #}
<nav class="navbar is-fixed-top is-light" role="navigation" aria-label="main navigation">
    <div class="container is-fluid">
        <div class="navbar-brand shpr-brand">
            <a class="title is-5 navbar-item has-text-weight-bold" href="/">
                {{ config.get('general/sitename') }}
            </a>
            <span class="navbar-burger burger" data-target="navbar-toggle">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div class="navbar-menu" id="navbar-toggle">
            <div class="navbar-end">
                <div class="navbar-item no-link-color">
                    {% spaceless %}
                        {{ menu('main', 'twig/partials/_sub_menu_navbar.twig') }}
                    {% endspaceless %}
                </div>
                <div class="navbar-item">
                    {% include "twig/partials/_sub_search_form.twig" %}
                </div>
            </div>
        </div>
    </div>
</nav>
