{# Navbar #}
<nav class="navbar {{ theme.layout.class.navbar|default('is-light') }}" role="navigation" aria-label="main navigation">
    <div class="container {{ theme.layout.is_navbar_full_width ? is-fluid }}">
        <div class="navbar-brand shpr-brand">
            {% block navbar_brand %}
                <a class="title is-5 navbar-item has-text-weight-bold" href="/">
                    {{ config.get('general/sitename') }}
                </a>
            {% endblock %}
            {% block navbar_burger_menu %}
                <span class="navbar-burger burger" data-target="navbar-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            {% endblock %}
        </div>
        <div class="navbar-menu" id="navbar-toggle">
            <div class="navbar-end">
                <ul class="navbar-item no-link-color">
                    {% apply spaceless %}
                        {{ menu('shato-main', 'twig/partials/_sub_menu_navbar.twig') }}
                    {% endapply %}
                </ul>
                <div class="navbar-item">
                    {% block navbar_last_item %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</nav>
