{% if record.author|default is not empty %}
    <div class="notification is-info meta is-italic">
        {{ __('general.phrase.written-by-on', {
            '%name%': record.author.displayname|default(__('Unknown')),
            '%date%': record.publishedAt|format_datetime("medium")
        }) }}
    </div>
{% endif %}