{% if record|default is empty %}
    {% with {'message': "The 'record' is not defined"} %}
    {{ block('error_block', "blocks.twig")}}
    {% endwith %}
{% else %}
    {% set class = extraClass|default ~ " " ~ config.get("theme/layout/class/header") %}

    {% embed "twig/partials/_sub_hero.twig" with { 
        extraClass: class,
        image: record.header_image,
        embedded: record.header_embedded,
        isParalax: false
    } %}
        {% block content %}
            {% set template = record.header_template|default("twig/header/_sub_header_content.twig") %}
            <div class="container">
                {% include template with { section: record } %}
            </div>
        {% endblock %}
    {% endembed %}
{% endif %}