{# Theme section block #}
{# Required: content #}
{# Optional: isParalax, image, embedded, extraClass  #}
{% block section %}

	{# Section images initialization #}
	{% if image|default is not empty %}
		{% import "twig/partials/_macros.twig" as m %}
		{% set bgImages = m.progressive_thumbimage(image) %}
	{% endif %}

	{% if embedded|default is not empty %}
		{% set bgVideo = embedded.url|default %}
	{% endif %}
	
	<div class="shpr-lazy-background" data-src="{{ bgImages|default }}" data-embedded="{{ bgVideo|default }}">
		{# Adding empty elements to handle dynamic background styling - see lazy-section-background.js #}
		{% if isParalax|default == true %}
			<div class="shpr-background shpr-background-paralax"></div>
		{% endif %}	
		
		<div class="shpr-background shpr-background-overlay"></div>
		<div class="shpr-background shpr-background-video"></div>

		{# Actual section with content #}
		<section class="{{extraClass|default}} shpr-section">
			{% block section_content %}
				{% block content %}
					<pre>content</pre>	
				{% endblock %}
			{% endblock %}
		</section>
	</div>
{% endblock %}