{# Required: section #}
{# Optional: extraClass, isParalax #}

{% set template = section.section_layout_template|default("twig/section/layout/_sub_section_layout.twig") %}
{% set template_content = section.section_content_template|default("twig/section/content/_sub_section_content.twig") %}

{% block section %}

    {% embed template with {
        section: section,
        image: section.image|default,
        extraClass: extraClass,
        isParalax: isParalax|default(false)
    } %}
        {% block section_content %}
            <div class="hero-body">
                <div class="container">
                    {% include template_content with { section: section } %}
                </div>

                {# Edit section record #}
                {% include "twig/partials/_record_edit.twig" with { record: section, extraClass: "is-absolute" } %}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}