
{% block section_content_list_blocks %}
	{% set subBlockContent = [] %}

	{%- if section.contentlink|default is not empty and not (section.contentlink starts with 'http') %}
		{% setcontent subBlockContent = section.contentlink where {status: 'published'} orderby 'publishedAt' limit section.contentlimit|default(0) %}
	{% endif %}

	{% if section.contentselect|default is not empty %}
		{% set subBlockContent = subBlockContent|merge(section.contentselect|selected) %}
	{% endif %}

	{% if subBlockContent is not empty %}
	
		{# Generate template name in case is contenttemplate is not defined #}
		{% if content_list_template|default is not empty %}
			{% set template = content_list_template %}
		{% elseif section.content_list_template|default is not empty %}
			{% set template = section.content_list_template %}
		{% else %}
			{% set templateSubPath = subBlockContent is iterable ? 'listing/_sub_listing' : 'content/_sub_content' %}
			{% set template = 'twig/section/block/' ~ templateSubPath ~ '.twig' %}
		{% endif %}

		<div class="block mb-6">
			{% include template with { content: subBlockContent, section: section } %}		
		</div>
	{% endif -%}
{% endblock %}