{# Required: links #}

{% block section_links %}
    {% if links|default([])|length > 0 %}
		<nav class="shpr-actions columns">
			<div class="column">
				{% for link in links %}	
					<a href="{{ link.contentlink }}" class="button">{{ link.title|markdown|excerpt(45) }}</a>
				{% endfor %}
			</div>
		</nav>
	{% endif %}
{% endblock %}