{# Required: section #}
{# Optional: extraClass, isParalax #}

{% block section %}
    {% set template = section.section_layout_template|default("twig/section/layout/_sub_section_layout.twig") %}

    {% embed template with {
        section: section,
        image: section.image|default,
        extraClass: extraClass,
        isParalax: isParalax|default(false)
    } %}
        {% block section_content %}
            <div class="hero-body">
                <div class="container">
                    {% include "twig/section/content/_sub_section_content.twig" with { section: section } %}
                </div>

                {# Edit section record #}
                {% include "twig/partials/_record_edit.twig" with { record: section, extraClass: "is-absolute" } %}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}