<div class="section">
    <div class="container shpr-notification-panel"></div>
</div>

<template id="shpr-notification-template">
    <div class="shpr-notification notification is-link is-light">      
        <button class="delete"></button>
        <div class="title is-5"></div>
        <span class="content no-link-color"></span> 
    </div>
</template>