{# Index aka Homepage #}
{% extends "twig/_index.twig" %}
{% import "twig/partials/_macros.twig" as m %}

{# Ucomment this to do not render navbar in the homepage #}
{# 
{% block document %}
	{% set htmlClass = "" %}
	{{ parent() }}
{% endblock %}
{% block navbar %}{% endblock %} 
#}


{# Use SVG LOGO on the index header #}
{# 
{% block header %}     
    {% set content %}
		<div class="container">
			{% if homepage %}
				<div class="logo"></div>
            {% endif %}
		</div>
	{% endset %}

	{% with { 
		content: content,
        class: config.get('theme/layout/class/header_index')
	}%}
		{{ block('hero', 'section_blocks.twig') }}
	{%- endwith -%}
{% endblock %} 
#}