{% extends "twig/_index.twig" %}

{% block hero_body %}
	{% set buttonNavigation = "#nase-sluzby" %}

	<div class="container has-text-centered">
		{# Display only the navigation button #}
		<a href="{{ buttonNavigation }}" class="button is-large is-primary is-inverted is-outlined" style="margin-top: 200px">{{ __('Zjistit více') }}</a>
	</div>
{% endblock %}