{# Index aka Homepage #}
{% extends "twig/_index.twig" %}

{# Ucomment this to do not render navbar in the homepage #}
{# {% block navbar %}{% endblock %} #}

{# Customize header section#}
{% block header %}     
    {% set content %}
		<div class="container">
			{% if homepage %}
                <h1 class="title is-1">{{ homepage|title }}</h1>
                <p class="subtitle">{{ homepage.introduction|excerpt(300) }}</p>
            {% endif %}
		</div>
	{% endset %}

	{% with { 
		content: content,
		image: homepage.image,
        class: config.get('theme/layout/class/header_index')
	}%}
		{{ block('hero', 'twig/partials/_sub_section_blocks.twig') }}
	{%- endwith -%}
{% endblock %}