{% extends 'partials/_master.twig' %}

{% setcontent record = 'blocks/404-not-found' %}

{% block stylesheet %}
	{# Defer loading of non-critical styles #}
	{{ m.stylesheet('dist/css/page-bundle.css') }}
{% endblock %}

{% block scripts %}
	{{ m.script('dist/js/page-bundle.js') }}
{% endblock %}

{% block content %}

	<section class="section section-not-found">
		<div class="container">
			<div class="content">
				{% if record %}
					<h1 class="title">{{ record.title|default('404 not found') }}</h1>
					{{ record.content|default('<p>The requested page was not found.</p>')|raw }}
				{% else %}
					<h1 class="title">404 not found</h1>
					<p>
						The requested page was not found.
					</p>

					<div
						class="notification is-warning">
						{# <button class="delete"></button> #}
						Add a Blocks record with slug '404-not-found' to customize this message.
                        If it's not showing up here, doublecheck that the
						<tt>slug</tt>
						is correct, and that the Block is published.
					</div>
				{% endif %}
			</div>

			{% include "partials/_sub_search_form.twig" %}
		</div>
	</section>
{% endblock content %}
