{# Simple Page without big header #}

{% extends "page.twig" %}
{% import "twig/partials/_macros.twig" as m %}

{% block stylesheet %}
    {# Defer loading of non-critical styles #}
    {{ m.stylesheet_inline('dist/css/page-bundle.css') }}
{% endblock %}

{% block scripts %}
    {{ m.script('dist/js/page-bundle.js') }}
{% endblock %}

{% block header %}
<div class="container">
    {% with { 'section': record } %}
    {{ block('hero_content', "section_blocks.twig") }}
    {%- endwith -%}
</div>
{% endblock %}