@charset "utf-8";

@use "bulma/sass/utilities/initial-variables" as iv;
@use "bulma/sass/utilities/derived-variables" as dv;
@use "../partials/functions" as fn;

@forward "bulma/sass/components/navbar";

.shpr-navbar {
  box-shadow: 0 5px 11px 0px rgba(iv.$black, 0.1);

  .navbar-menu {
    background-color: inherit;

    a {
      color: inherit;
    }
  }

  &.is-active {
    .navbar-menu {
      display: block;
    }
  }

  .navbar-item {
    text-transform: uppercase;
  }

  .shpr-icon {
    padding: .8em;
  }

  // navbar enlarging and animation
  transition: all .5s;
  transition-property: background-color, min-height, box-shadow;
  background-color: var(--bulma-navbar-background-color);
  min-height: 0px;
  
  &.is-transparent:not(.is-active) {
    background-color: rgba(var(--bulma-navbar-background-color), 0.8);
    min-height: 120px;
    box-shadow: none;
  }

  .navbar-dropdown {
    .navbar-item {
      // Remove the default background color because bulma is adding it wrongly to the dropdown items
      background-color: var(--bulma-navbar-dropdown-background-color) !important;
    }

    .shpr-menu-pulled-right {
      padding-left: 1rem;
      background-color: var(--bulma-navbar-dropdown-background-color);
    }
  }
}