{% block section %}
    {# Actualsection with content #}
    <section class="{{ extraClass|default }} shpr-section">
        {% block section_content %}
            {% block content %}
                <pre>content</pre>	
            {% endblock %}
        {% endblock %}
    </section>
{% endblock %}