{% extends "twig/section/layout/_sub_section_layout.twig" %}
{# 
{% block section %}
    {% set bgVideoAttr = embedded|default is not empty ? ('data-embedded="' ~ embedded|default ~ '"') : ''  %}

    <div class="shpr-lazy-background" {{ bgVideoAttr|raw }}>
        <div class="shpr-background shpr-background-overlay"></div>
		<div class="shpr-background shpr-background-video"></div>

        {{ parent() }}
    </div>
{% endblock %} #}