{% extends "twig/section/layout/_sub_section_layout.twig" %}

{% set googleMapId = config.get("theme/feature/google_map_id") %}

{% block section %}
    {% if googleMapId|default is not empty %}

        {% set googleMapAttr = 'data-google-map-id="' ~ googleMapId|default ~ '"'  %}
    
        <div class="shpr-lazy-background" {{ googleMapAttr|raw }}>
            <div class="shpr-background shpr-background-overlay"></div>
            <div class="shpr-background shpr-background-google-map"></div>

            {{ parent() }}
        </div>

    {% else %}
        {{ parent()}}
    {% endif %}
{% endblock %}