{% extends "twig/header/_sub_header_content.twig" %}

{% block header %}
    <div class="columns">
        <div class="column is-two-thirds">
            {{ parent() }}
        </div>
    </div>
{% endblock %}