
{% set contentBlockClass = config.get("theme/layout/class/contentblock") %}

{# Entry block #}
{# Content of contentype 'block' and 'contentlink' filed for NOT iterable content #}
{% block contentlink_block_with_validation %}

	{% if content|default is empty %}
		{% with { message: 'No content retireved.' } %}
		{{ block('error_block', 'blocks.twig') }}
		{% endwith %}
	{% elseif content|default is iterable %}
		{% with { message: 'Received content IS iterable and is not valid for this template.' } %}
		{{ block('error_block', 'blocks.twig') }}
		{% endwith %}
	{% else %}
		{% block contentlink_block %}
			<div class="{{ contentBlockClass|default }}"> 
    			{% include "twig/partials/_record_teaser.twig" with { use_link: true, use_read_more: true, record: content } %}
			</div>
		{% endblock %}
	{% endif %}
{% endblock %}
