{% extends "twig/contentblock/content.twig" %}

{% block contentlink_block %}

    <div class="card">
        {% if content.image|default is not empty %}
            <div class="card-image">
                {# TODO: Check what is going on and replace it with _sub_image #}
                <figure class="image is-16by9">
                    {% set cardContent %}
                        {% import "twig/partials/_macros.twig" as m %}
                        {{ m.lazyImage(content.image, 'card') }}
                    {% endset %}
                    
                    {%- with { content: cardContent, link: content|link } -%}
                        {{ block("link_wrapper", "blocks.twig") }}
                    {%- endwith -%}
                </figure>
            </div>
        {% endif %}
        <div class="card-content">
            {% include "twig/partials/_record_teaser.twig" with { use_link: true, use_read_more: true, record: content } %}
        </div>
    </div>

{% endblock %}