{% extends "twig/contentblock/content.twig" %}

{% block contentlink_block %}

    <div class="card">
        {% if content.image|default is not empty %}
            <div class="card-image has-background-primary">
                <figure class="image is-16by9">
                    <a href="{{ content.link() }}">
                        {% import "twig/partials/_macros.twig" as m %}
                        {{ m.lazyImage(content.image, 'card') }}
                    </a>
                </figure>
            </div>
        {% endif %}
        <div class="card-content">
            {{ parent() }}
        </div>
    </div>

{% endblock %}