{# {% setcontent consentBlock = "block/cookie-consent" %}

<div class="block cookie-consent is-hidden">
    <h2 class="title is-3"> {{ consentBlock.title }} </h2>
    <div class="block content">
        {{ consentBlock.content }}
    </div>

    <button class="button">OK</button>
</div> #}