

{% set columnClass = 'column is-half' %}
{% set listClass = 'columns slider' %}
{% set columnTemplate = 'partials/contentblock/content.twig' %}

{# Contentlink Listing content #}
{# Content of contentype 'block' and 'contentlink' filed for ITERABLE content #}
{% block contentlink_list %}
	{% if content|length > 0 %}
		<ul class="{{ listClass }}">
			{%- for entry in content -%}
                {% block list_item %}
                    <li class="{{ columnClass }}">
                        {% include columnTemplate with { content: entry } %}
                    </li>
                {% endblock %}
			{%- endfor -%}
		</ul>

	{% else %}
		<article class="message">
			<div class="message-body">
				{{ __('There is no content yet.') }}
			</div>
		</article>
	{% endif %}
{% endblock %}
