/// Base path for assets (fonts, images...),
/// should not include trailing slash
/// *Note: $template-path us imported via webpack config*
/// @access public
/// @type String
$asset-base-path: "{{TEMPLATE_PATH}}dist" !default;