{% import "twig/partials/_macros.twig" as m %}

{% set footerTaxonomyGroup = 'footer' %}
{# {% set themeConfig = config.get('theme') %} #}
{# {% set isParalax = themeConfig.layout.use_paralax|default(true) %} #}

{# Footer #}

{% block footer_section %}
    <footer role="contentinfo">
        {# Get All blocks by the group #}
        {% set themeSection = config.get('theme/section') %}
        {% set extraClass = config.get("theme/layout/class/footer")|default %}
        {% set groupName = "footer" %}

	    {% setcontent sections = 'sections' where { 'sectiongroups' : groupName } %}

        {% for section in sections %}
            {% include "twig/partials/_sub_section.twig" with {
                section: section,
                extraClass: extraClass,
                isParalax: isParalax|default(false)
            } %}
        {% endfor %}
    </footer>
    {#
        <div class="section shpr-section {{ theme.layout.class.copyright|default('is-section-light') }} copyright">
            <div class="container">
                {% setcontent copyright = 'block/copyright' %}
                {% set defaultCopyright = __("SHato's Bolt Webpack Boilerplate Theme (c) %date% All rights reserved.", { '%date%': "now"|date("Y") }) %}
                {{ copyright.content|default(copyright.teaser|default(defaultCopyright)) }}
            </div>
        </div>
    </footer> #}
{% endblock %}