{% extends 'twig/partials/_master.twig' %}
{% import "twig/partials/_macros.twig" as m %}

{# Index or Homepage main template #}

{% set buttonNavigation = "#about" %}
{% set isParalax = true %}
{% set sectionGroup = "homepage" %}
{% setcontent homepage = "homepage" limit 1 returnsingle %}

{% block content %}
	{% block hero %}
		{% if homepage %}
			{% set title = homepage.title is not defined or homepage.title is empty ? app.config.get('general/sitename') : homepage.title %}
			{% set teaser = homepage.teaser is not defined or homepage.teaser is empty ? app.config.get('general/payoff') : homepage.teaser %}

			{# Section HERO #}
			{% set bgImages = homepage.image|thumbnail('section-small') ~ ';' ~ homepage.image|image  %}

			<section class="hero is-medium is-primary is-bold is-header shpr-lazy-background" {% if homepage.image is not empty %} data-background-image="{{ bgImages }}" {% endif %}>
				<div class="shpr-background shpr-background-overlay"></div>
				<div class="hero-body">
					{% block hero_body %}
						<div class="container has-text-centered">
							{% with { 'section': homepage }%}
								{{ block('section_content', 'twig/partials/_blocks.twig') }}
							{%- endwith -%}	
						</div>
					{% endblock %}
				</div>
			</section>
		{% endif %}
	{% endblock %}

	{% block sections %}
		{# Render Section Blocks by taxonomy group name #}
		{{ m.sectionByGroup(sectionGroup, isParalax) }}
	{% endblock %}
{% endblock %}
