{% extends 'twig/partials/_master.twig' %}
{% import "twig/partials/_macros.twig" as m %}

{# Index or Homepage main template #}

{% set buttonNavigation = "#about" %}
{% setcontent homepage = "homepage" limit 1 returnsingle %}

{% block content %}
	{% block hero %}
		{% if homepage %}
			{% set title = homepage.title is not defined or homepage.title is empty ? app.config.get('general/sitename') : homepage.title %}
			{% set teaser = homepage.teaser is not defined or homepage.teaser is empty ? app.config.get('general/payoff') : homepage.teaser %}

			{# Section HERO #}
			{% set bgImages = homepage.image|thumbnail('index-small') ~ ';' ~ homepage.image|image  %}

			<section class="hero is-medium is-primary is-bold is-header shpr-lazy-background" {% if homepage.image is not empty %} data-background-image="{{ bgImages }}" {% endif %}>
				<div class="shpr-background shpr-background-overlay"></div>
				<div class="hero-body">
					{% block hero_body %}
					<div class="container has-text-centered">
						{% with { 'blk': homepage }%}
							{{ block('content_block') }}
						{%- endwith -%}	
					</div>
					{% endblock %}
				</div>
			</section>
		{% endif %}
	{% endblock %}

	{# Render Section Blocks by taxonomy group name #}
	{% block sections %}

		{{ m.sectionByGroup("homepage") }}

	{% endblock %}
{% endblock %}
