{# Index aka Homepage main template #}

{% extends 'twig/partials/_master.twig' %}
{% import "twig/partials/_macros.twig" as m %}

{% set themeConfig = config.get('theme') %}
{% set isParalax = themeConfig.layout.use_paralax|default(true) %} {# use Paralax design #}
{% set homepageContentBlock = themeConfig.section.homepage_block|default('homepage') %}
{% setcontent homepage = homepageContentBlock limit 1 returnsingle %}

{% block content %}
	{% block header %}
		{% if homepage %}
			{% include "twig/partials/_record_header.twig" with { extraClass: themeConfig.layout.class.header_index } %}
		{% endif %}
	{% endblock %}

	{% block body %}
		{% set recordExtraClass = config.get("theme/layout/class/record")|default %}
		<section class="section shpr-section {{ recordExtraClass }}">
			<div class="container content">
				
				{% with { 'record': homepage, exclude: ['image', 'teaser', 'introduction'] } %}
				{{ block('sub_fields', 'twig/partials/_sub_blocks_field.twig') }}
				{% endwith %}

			</div>
		</section>
	{% endblock %}

	{% block sections %}
		{{ m.sectionsByRecord(homepage, isParalax) }}
		{{ m.sectionsByGroup('homepage', isParalax) }}
	{% endblock %}
{% endblock %}
