{% extends 'twig/partials/_master.twig' %}
{% use 'twig/partials/_blocks.twig' %}

{% block header %}

{# none #}

{% endblock %}

{% block content %}

	<section class="hero is-medium is-primary is-header">
		<div class="shpr-background shpr-background-overlay"></div>
		<div class="hero-body">
			<div class="container has-text-centered">
				<h1 class="title is-3">{{ __('under-reconstruction') }}</h1>
				<div class="subtitle is-5">
					<p>{{ __('under-reconstruction-message') }}</p>
				</div>
			</div>
		</div>
	</section>
{% endblock %}