{% extends 'twig/partials/_master.twig' %}

{% block content %}

	{% setcontent record = "block/503-maintenance-mode" where { status: "held" } %}

	<section class="maintenance hero is-fullheight is-primary is-header">
		<div class="shpr-background shpr-background-overlay"></div>
		<div class="hero-body">
			<div class="container has-text-centered">
				<div class="logo block"></div>
				<h1 class="title is-3">{{ record|title|default(__('under-reconstruction')) }}</h1>
				<div class="subtitle is-5">
					<p>{{ record.teaser|default(__('under-reconstruction-message')) }}</p>
				</div>
				{% if record.content|default is not empty %}
					<div class="content">
						{{ record.content }}
					</div>
				{% endif %}
			</div>
		</div>
	</section>
{% endblock %}
