{% extends "twig/partials/_navbar.twig" %}

{% set navbarConfig = config.get("theme/navbar") %}

{% block navbar_last_item %}   
    {% if haswidgets('main_top') %}
        <div class="navbar-item">
            {{ widgets('main_top') }}
        </div>
    {% endif %}
    
    {# searchbar #}
    {% if navbarConfig.use_search_bar|default %}
        <div class="navbar-item">
            {% include "twig/partials/_sub_search_form.twig" %}
        </div>
    {% endif %}

    {% if navbarConfig.use_social_menu|default %}
        <div class="navbar-item">
            {{ menu(navbarConfig.social_menu_id|default("social"), 'twig/partials/_sub_menu_social.twig') }}
        </div>
    {% endif %}
        
{% endblock %}
