{% extends "twig/section/_sub_section.twig" %}

{# Required: image, isParalax #}
{% block section %}

    {# Section images initialization #}
	{% if image|default is not empty %}
		{% import "twig/partials/_macros.twig" as m %}	
		{% set bgImages = m.progressive_thumbimage(image) %}
	{% endif %}

	{% set bgImagesAttr = bgImages|default is not empty ? ('data-src="' ~ bgImages|default ~ '"') : ''  %}

	<div class="shpr-lazy-background" {{ bgImagesAttr|raw }}>
		{# Adding empty elements to handle dynamic background styling - see lazy-section-background.js #}
		<div class="shpr-background shpr-background-paralax"></div>
		<div class="shpr-background shpr-background-overlay"></div>

		{{ parent() }}

    </div>
{% endblock %}