{% extends "twig/section/_sub_section.twig" %}

{% block section %}
    {% set bgVideoAttr = video|default is not empty ? ('data-video="' ~ video|default ~ '"') : ''  %}

    <div class="shpr-lazy-background" {{ bgVideoAttr|raw }}>
        <div class="shpr-background shpr-background-overlay"></div>
		<div class="shpr-background shpr-background-video"></div>

        {{ parent() }}
    </div>
{% endblock %}