
/// Bulma Modifiers
$weight-light: 200;
$weight-normal: 300;
$title-line-height: 1.5;
$title-weight: 300;
$text: rgb(20, 20, 43);
$dimensions: 16 24 32 48 64 96 128 256 512;
$fullhd: 1200px;
$family-primary: 'Roboto', sans-serif;
$family-secondary: 'Roboto', sans-serif;
$primary: rgb(20, 20, 43);
// $light: rgb(252, 255, 246);
