@charset "utf-8";

@use "partials/minimal";
@use "partials/mixins";
@use "bulma/sass/utilities/mixins" as bulma-mixins;

.hero-wrapper .shpr-background {

  @include bulma-mixins.mobile {
    background-size: contain;
  }
  background-position-y: top;
  background-position-x: right;
  background-repeat: no-repeat;

  background-color: var(--bulma-primary);
}

.hero {
  .logo {
    @include mixins.logo(10em, "logo01.svg")
  }
}

@include bulma-mixins.mobile {
  .hero .logo {
    display: none;
  }
}

