@import "./partials/minimal.scss";

@mixin logo($height, $imageFile) {
    background-image: image($imageFile);
    background-size: contain;
    background-repeat: no-repeat;
    height: $height
}

.logo {
    @include logo(300px, "logo04.svg");
}

.shpr-footer-block {
    overflow: hidden;
    .logo {
        @include logo(300px, "logo02.svg");
        background-position-x: right;
        align-self: center;
        color: transparentize($color: $light, $amount: 1);
    }
}

.maintenance .logo {
    background-position-x: center;
}