@charset "utf-8";

@import "./minimal.scss";
@import "../../node_modules/bulma/sass/elements/tag.sass";
@import "../../node_modules/bulma/sass/components/card.sass";
@import "../../node_modules/bulma/sass/elements/tag.sass";
@import "../../node_modules/bulma-carousel/src/sass/index.sass";

@import "partials/sections.scss";
@import "partials/has-image-centered.scss";
@import "components/pricing-table.scss";

.circle-button {
    border-radius: 50%;
    padding: 30px;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

@include mobile {
    .circle-button {
        width: 180px;
        height: 180px;
    }
}