{% extends "twig/contentblock/listings/_sub_listing.twig" %}


{% block contentlink_block %}

    {% set theme = config.get('theme') %}

    <div class="columns">
        <div class="column">

            {% set template =  section.content_block_template|default('twig/contentblock/blocks/content.twig') %}

            {%- for entry in content|filter(e => e.status == 'published') -%}
                {% block list_item %}
                    
                    <div>
                        {% with { content: entry } %}
                        {{ block('contentlink_block', template )}}
                        {% endwith %}
                    </div>

                {% endblock %}
            {%- endfor -%}
        </div>

        <div class="column is-one-third">
            {{ boltform(theme.footer.contact_form_id) }}
        </div>
    </div>

{% endblock %}