{% extends "twig/section/block/content/_sub_content.twig" %}

{% block contentlink_block %}
    {% set email = content.email|default %}
    {% set phone = content.telephone|default(record.phone)|default %}


    <div class="card">
        {% if content.image|default is not empty %}
            {% block contentlink_block_cart_image %}
                <div class="card-image">
                    <figure class="image is-16by9">
                        {% set cardContent %}
                            {% import "twig/partials/_macros.twig" as m %}
                            {{ m.lazyImage(content.image, 'card') }}
                        {% endset %}
                        
                        {%- with { content: cardContent, link: content|link } -%}
                            {{ block("link_wrapper", "blocks.twig") }}
                        {%- endwith -%}
                    </figure>
                </div>
            {% endblock %}
        {% endif %}
        <div class="card-content">
            {% include "twig/partials/_record_teaser.twig" with { use_link: true, use_read_more: true, record: content } %}
        </div>
        
        <div class="card-footer">
            {% if email is not empty %}
                <a href="mailto:{{ email }}" class="card-footer-item">
                    <div class="icon is-medium">
                        <i class="fas fa-envelope fa-lg"></i>
                    </div>
                </a>
            {% endif %}
            {% if phone is not empty %}
                <a href="tel:{{ phone }}" class="card-footer-item">
                    <div class="icon is-medium">
                        <i class="fas fa-phone fa-lg"></i>
                    </div>
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}