{% extends "twig/section/content/_sub_section_content.twig" %}

{% block section_content %}
    <div class="columns">
        <div class="column is-one-third">
            {{ parent() }}
        </div>
    </div>
{% endblock %}